.win__screen {
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	width:360px;
	height:360px;
	color:white;
	font-size:28px;
	background-color: rgba(255,255 ,255, 0.3) ;
}
