.turn {
	display:flex;
	align-items:center;
	justify-content:space-around;
	width:150px;
	z-index:1;
	height:50px;
	position:absolute;
	top:0px;
	color:white;
	text-align:center;
	transition:top .3s linear;

}
.number {
	font-size:25px !important;
	
}
.first {
	background-color: rgba(0,200,200,1) ;
	left:10px;
}
.second {
	right:10px;
	background-color:rgba(200,100,100,1) ;
}
.fade {
	top:100px;
}
.unhead {
	position:relative;
	width:360px;
	height:50px;
}
